<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- API Preferences -->
    <preference for="Magestat\SplitOrder\Api\QuoteHandlerInterface" type="Magestat\SplitOrder\Model\QuoteHandler"/>
    <preference for="Magestat\SplitOrder\Api\ExtensionAttributesInterface" type="Magestat\SplitOrder\Model\ExtensionAttributes"/>

    <!-- Plugins -->
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="magestat-splitorder-split-quote" type="Magestat\SplitOrder\Plugin\SplitQuote" sortOrder="1"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="save_order_tax" disabled="true"/>
    </type>

    <!-- Override -->
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Magestat\SplitOrder\Block\Checkout\Success"/>

    <!-- Proxies -->
    <type name="Magestat\SplitOrder\Model\QuoteHandler">
        <arguments>
            <argument name="QuoteHandler" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
