<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote\Model\QuoteManagement" type="Magestat\SplitOrder\Model\QuoteManagement"/>
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Magestat\SplitOrder\Block\Checkout\Success"/>
</config>
