<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magestat" translate="label" sortOrder="900">
            <label>Magestat</label>
        </tab>
        <section id="magestat_split_order" showInDefault="1">
            <tab>magestat</tab>
            <label>Split Order</label>
            <resource>Magestat_SplitOrder::config</resource>
            <group id="module" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Enable Module</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Settings</label>
                <field id="attributes" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Attribute to Split</label>
                    <source_model>Magestat\SplitOrder\Model\Config\Source\Attributes</source_model>
                    <comment>Select an attribute to be compared, will be split products with different attribute values.</comment>
                </field>
                <field id="attribute_qty" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type of Stock Attribute</label>
                    <source_model>Magestat\SplitOrder\Model\Config\Source\AttributeQty</source_model>
                    <comment>You can select which type of value should be returned.</comment>
                    <depends>
                        <field id="attributes">quantity_and_stock_status</field>
                    </depends>
                </field>
                <field id="qty_backorder" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Backorder option</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set product Out of Stock when Backorder is enabled and inventory number is less than zero.</comment>
                    <depends>
                        <field id="attribute_qty">status</field>
                    </depends>
                </field>
                <field id="shipping" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Split Shipping Total</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Split shipping total between orders, otherwise, place shipping total to one order only.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
